.error-msg {
    color: red;
    padding-left: 10px;
    padding-top: 10px;
}

.avatarHeader {
    height: 40px;
    padding-left: 10px;
}

.avatarHeader img {
    height: 30px;
    width: 30px;
}

[role="button"], .am-tab-bar-tab {
    cursor: pointer;
}

.am-tabs-tab-bar-wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}

/*文本域换行*/
.am-card-body, .am-list-content p {
    white-space: pre;
}

/* 聊天框样式 */
#chat-page .chat-me-theme .am-list-extra{
    flex-basis: auto;
}
#chat-page .chat-me-theme .am-list-content{
    padding-right: 15px;
    text-align: right;
}
/*聊天输入框定位到底部显示*/
.stick-footer{
    z-index: 10;
    position: absolute;
    bottom: 0;
    width: 100%;
}